apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: longhorn
  namespace: {{ longhorn_namespace | quote }}
spec:
  chart: longhorn
  repo: https://charts.longhorn.io
  targetNamespace: {{ longhorn_namespace | quote }}
  version: {{ longhorn_version | quote }}
  valuesContent: |-
    service:
      type: ClusterIP
    ingress:
      enabled: true
      hostname: k3s.home
    metrics:
      enabled: false
