(common) {
  log
  errors
  health
}

home:53 {
  import common

  hosts {
    {{ ansible_facts.default_ipv4.address }} {{ coredns_names | join(" ") }}
  }
}

.:53 {
  import common

  forward . /var/run/NetworkManager/resolv.conf
}
