apiVersion: v1
kind: Secret
metadata:
  name: {{ postgresql_secret_name | quote }}
  namespace: {{ postgresql_namespace | quote }}
data:
  postgres-password: {{ postgresql_admin_password | b64encode | quote }}
