apiVersion: v1
kind: Secret
metadata:
  name: {{ pgadmin_secret_name | quote }}
  namespace: {{ pgadmin_namespace | quote }}
data:
  password: {{ pgadmin_root_password | b64encode | quote }}
  servers.json: {{ pgadmin_servers | to_json | b64encode | quote }}
