apiVersion: v1
kind: Secret
metadata:
  name: {{ keycloak_secret_name | quote }}
  namespace: {{ keycloak_namespace | quote }}
data:
  {{ keycloak_secret_password_key }}: {{ keycloak_admin_password | b64encode | quote }}
