{% set username = "postgres" %}

apiVersion: v1
kind: Secret
metadata:
  name: {{ db_operator_main_instance_secret_name | quote }}
  namespace: {{ db_operator_namespace | quote }}
data:
  user: {{ username | b64encode | quote }}
  password: {{ postgresql_admin_password | b64encode | quote }}
