apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: wikijs
  namespace: {{ wikijs_namespace | quote }}
spec:
  chart: wiki
  repo: https://dshemin.github.io/charts/
  targetNamespace: {{ wikijs_namespace | quote }}
  version: {{ wikijs_version | quote }}
  valuesContent: |-
    ingress:
      enabled: true
      hosts:
        - host: "wiki.home"
          paths:
            - path: "/"
              pathType: "Prefix"
    externalPostgresql:
      existsSecret: wikijs-database
      existsSecretKeyName: CONNECTION_STRING
    postgresql:
      enabled: false
